{% extends "CoderShop/padre.html" %} {% load static %} {% block contenidoQueCambia %} {% if formulario.erros %}
<p style="color: red;">Están mal los datos, revisar</p>
{% endif %} {% if vendedor %}
<h3><strong>Hemos encontrado a: {{nombre}}</strong></h3>

<ul>
    {% for vendedor in vendedor %}

    <li> {{vendedor}}</li>

    {% endfor %}
</ul>
{% else %}
<br>
<h3><strong>No hay datos con esa descripción.</strong></h3>
{% endif %}

<a class="btn btn-outline-dark" href="{% url 'buscarNombre' %}">Volver
</a>
<p style="color: red;">{{respuesta}}</p>{% endblock %}