{% extends "CoderShop/padre.html" %} {% load static %} {% block contenidoQueCambia %} {% if formulario.erros %}
<p style="color: red;">Están mal los datos, revisar</p>
{% endif %} {% if vendedor %}
<p>Hemos encontrado el legajo: {{legajo}}</p>

<ul>
    {% for vendedor in vendedor %}

    <li> {{vendedor}}</li>

    {% endfor %}
</ul>
{% else %}
<br>
<h3>No hay datos con esa descripción.</h3>
{% endif %}

<a class="btn btn-outline-dark" href="{% url 'BuscarLegajo' %}">Volver
</a>
<p style="color: red;">{{respuesta}}</p>{% endblock %}