{% extends "CoderShop/padre.html" %}{% load static %} {% block contenidoQueCambia %}
<h3>PRODUCTOS</h3>
<div class="container">
    <div class=" row ">
        {% for producto in object_list %}
        <div class="col-3 ">
            <div class="card " style="width: 16rem;" margin-left>
                {% if producto.imagen %}<img src="{{ producto.imagen.url }}" height="250px">{% endif %}
                <div class=" card-body " style="background-color:antiquewhite;">
                    <h1 class="card-title " style="text-align: center;">{{producto.prenda}}</h1><br>
                    <h5 class="card-text " style="text-align: center;">Codigo #{{producto.codigo}}</h5><br>
                    <h4 class="card-text " style="text-align: center;">${{producto.precio}}</h4><br>
                </div>
            </div>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-dark " href="{% url 'producto_confirm_delete' producto.id %} ">Eliminar</a>&nbsp;&nbsp;<a class="btn btn-outline-dark " href="{% url 'producto_update' producto.id %} ">Editar</a>&nbsp;&nbsp;
            <a class="btn btn-outline-dark
            " href="{% url 'ver_producto' producto.id %} ">Ver</a>
            <br><br>
        </div>
        {% endfor %}
    </div>

</div>
<br><br><a class="btn btn-outline-dark" href="{% url 'productoFormulario' %}">Agregar</a>&nbsp;&nbsp;<a class="btn btn-outline-dark" href="{% url 'Inicio' %}">Volver</a> <br><br>{% endblock%}